@page
@model Pizzaria.Pages.Checkout.ThankyouModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/Thankyou.css">
</head>

<h1 class="text-xxl-center">Thank you!</h1>
<h2 class="text-xl-center">Your order will take 40-60 minutes to get to you</h2>
<h3 id="txt">Check back often!</h3>
<img id="tnx" src="~/Images/thankyou.png" /> 
